<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/">Meme Review</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li {{#is nav 'meme_list'}} class="active" {{/is}}>
          <a href="/meme/list">Memes</a>
        </li>
        {{#if user}}
          <li {{#is nav 'episodes_list'}} class="active" {{/is}}>
            <a href="/episode/list">Episodes</a>
          </li> 
          <li><a href="#">Page 3</a></li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if user}}
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span>{{user.name}}</a></li>
        {{else}}
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {{!-- <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> --}}
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
{{#if flash}}
  <div id="flash" class="alert {{ flash.class }}">
    <strong>{{flash.message}}</strong> 
  </div>
{{/if}}
<script type="text/javascript">
  setTimeout(function(){
    $('#flash').remove();
  }, 5000);
</script>
