<!DOCTYPE html>
<html>
  <head>
    {{#if title}}
      <title>{{title}}</title>
    {{else}}
      <title>Terraform Infra Mgmt</title>
    {{/if}}
  	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  	<script src="/javascripts/jquery.min.js"></script>
  	<script src="/javascripts/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
