<!DOCTYPE html>
<html>
  <head>
    {{#if title}}
      <title>{{title}}</title>
    {{else}}
      <title>Meme Review</title>
    {{/if}}
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  	<link rel="stylesheet" href="/stylesheets/bootcards.min.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  	<script src="/javascripts/bootcards.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="google" value="notranslate">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
