<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">New Meme</h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal center" role="form" action="/meme/new_meme" method="post" id="newMemeForm">
        <div class="field">
          <label class="" for="inputName">Name:</label>
          <input type="text" name="name" id="inputName" placeholder="name" required autofocus class="form-control">
        </div><br> 
        <div class="field">
          <label class="" for="image_url">Image Url:</label>
          <input type="url" name="image_url" id="image_url" placeholder="url" required class="form-control">
        </div><br>
        <div class="field">
          <label class="" for="meme_review_episode">Meme Review Episode No:</label>
          <select name="meme_review_episode" class="form-control" required id="meme_review_episode">
            {{#if episodes_list}}
              {{#forEach episodes_list}}
                <option value="{{_id}}">{{meme_review_episode_num}}</option>
              {{/forEach}}
            {{/if}}
          </select>
        </div><br>
        <div class="field">
          <label class="" for="bonus_meme">Bonus Meme:</label>
          <input type="checkbox" name="bonus_meme" id="bonus_meme">
        </div><br>
        <div class="field">
          <label class="" for="garbage_meme">Garbage Meme:</label>
          <input type="checkbox" name="garbage_meme" id="garbage_meme">
        </div><br>
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" form="newMemeForm">Register</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>