{{> partials/header nav="new_meme"}}
<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 well">
      <form class="form-horizontal center" role="form" action="/meme/new_meme" method="post">
        <div class="field">
          <label class="" for="inputName">Name:</label>
          <input type="text" name="name" id="inputName" placeholder="name" required autofocus class="form-control">
        </div><br> 
        <div class="field">
          <label class="" for="image_url">Image Url:</label>
          <input type="url" name="image_url" id="image_url" placeholder="url" required class="form-control">
        </div><br>
        <div class="field">
          <label class="" for="meme_review_episode_num">Meme Review Episode No:</label>
          <input type="number" name="meme_review_episode_num" id="meme_review_episode_num" placeholder="" required class="form-control">
        </div><br>
        <div class="field">
          <label class="" for="meme_review_episode_url">Meme Review Episode URL:</label>
          <input type="url" name="meme_review_episode_url" id="meme_review_episode_url" required class="form-control">
        </div><br>
        <div class="actions">
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </form>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>